[sdk]
# This option specifies the python packages where-in to search for workflows and tasks workflow packages. These workflows and tasks are then serialized during the `make serialize` commands
workflow_packages=flyte.workflows

[auth]
# Uncomment if you want to use a service account for all your tasks and workflow executions. This service account should be created by you and available on the k8s cluster and it will be used to read and write data from the backend store like S3/GCS, or to connect to any services that you use in your tasks.
# to the blobstore (e.g. s3) used to write task execution outputs.
# kubernetes_service_account=demo
# You can set this prefix to specify where task output schema and blobs should be written to.
