-e file:.#egg=unionml
-r requirements-dev.in

furo
gradio<=3.0.10
ipython!=8.7.0  # 8.7.0 leads to docs build issue "Pygments lexer name 'ipython3' is not known"
joblib
jupytext
myst-nb
sphinx
sphinx-autodoc-typehints
sphinx-click
sphinx-copybutton
sphinx-panels
sphinx-prompt
sphinx-tabs
sphinxcontrib-youtube
sphinxcontrib-mermaid
tqdm
transformers
