click
cookiecutter
dataclasses_json
docker
flytekit>=1.8.1
gitpython
joblib
numpy
pandas
pydantic
requests
rich>=11.2.0
scikit-learn
typer
typing-extensions >= 4.3.0
importlib-metadata;python_version<'3.8'
