-e file:.#egg=unionml
-r requirements-dev.txt

furo
gradio<=3.0.10
ipython!=8.7.0  # 8.7.0 leads to docs build issue "Pygments lexer name 'ipython3' is not known"
joblib
jupytext==0.15.2
myst-nb
sphinx
sphinx-autodoc-typehints
sphinx-click==4.3.0  # pinning due to docs build error on 4.4.0: Unexpected section title
sphinx-copybutton
sphinx-panels
sphinx-prompt
sphinx-tabs
sphinxcontrib-youtube
sphinxcontrib-mermaid
tqdm
transformers[torch]
