-e file:.#egg=unionml
-r requirements-dev.txt

furo
gradio<=3.0.10
ipython
joblib
jupytext==1.15.2
myst-nb
sphinx
sphinx-autodoc-typehints
sphinx-click==4.3.0  # pinning due to docs build error on 4.4.0: Unexpected section title
sphinx-copybutton
sphinx-panels
sphinx-prompt
sphinx-tabs
sphinxcontrib-youtube
sphinxcontrib-mermaid
tqdm
transformers[torch]
