-r requirements.txt
-r extras_require/bentoml.txt
-r extras_require/fastapi.txt
-r extras_require/mangum.txt

black
boto3
# pinned due to version conflict with flytekit>=1.17.0
botocore==1.29.161
flake8
flytekitplugins-sqlalchemy
pre_commit
pytest
pytest-mock
tensorflow>=2.13.0
torch
types-requests
uvicorn
