.sidebar-logo {
  width: 80px;
}

.sidebar-brand-text {
  font-weight: bold;
}

.sphinx-tabs-tab {
  color: var(--color-link)
}

.sphinx-tabs-tab[aria-selected="true"] {
    background: var(--color-background-primary);
    border: 1px solid var(--color-sidebar-background-border);
    border-bottom: 1px solid var(--color-background-primary);
}

.sphinx-tabs-panel {
    background: var(--color-background-primary);
    border: 1px solid var(--color-sidebar-background-border);
    border-top: 0;
}

[role="tablist"] {
    border-bottom: 1px solid var(--color-sidebar-background-border);
}

body[data-theme="dark"] .card {
  background-color: rgb(50, 50, 50);
  border: 1px solid var(--color-sidebar-background-border);
}
